[submodule "js/publication"]
	path = js/publication
	url = https://github.com/sergio-castro/js-publication.git
[submodule "css/publication"]
	path = css/publication
	url = https://github.com/sergio-castro/css-publication.git
