[submodule "js/publication"]
	path = js/publication
	url = https://github.com/sergio-castro/js-publication.git
[submodule "styles/publication"]
	path = styles/publication
	url = https://github.com/sergio-castro/css-publication.git
